/*
  Author: Lumberjacks
  Template: Puppet (Landing Page)
  Version: 1.0
  URL: http://themeforest.net/user/Lumberjacks/
*/


/* TABLE OF CONTENTS

  1. Import section
  2. Basic styles
  3. Typography
  4. Breakpoint for high-res devices
  19. Footer
  20. Breakpoints

*/



/* 1. IMPORT SECTION */

  @import url("bootstrap.css");
  @import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,600&subset=latin,latin-ext");
  @import url("font-awesome.min.css");
  @import url("featherlight.css");
  @import url("slick.css");
  @import url("jquery.wordrotator.css");
  @import url("animate.min.css");



/* 2. BASIC STYLES */

  html, body {
    height: 100%;
  }

  body {
    font: 16px/1.5 "Open Sans", "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff;
    color: #576077;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  a {
    color: #50bae2;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  a:hover {
    color: #6173F4;
  }

  a, a:hover, a:active, a:focus {
    outline: 0;
    border: 0;
    text-decoration: none;
  }

  .lj-float-left {
    float: left;
  }

  .lj-float-right {
    float: right;
  }

  .lj-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lj-show {
    display: block !important;
  }

  .lj-hide {
    display: none !important;
    visibility: hidden !important;
  }

  .lj-preloader {
    background: #c0c7da url('../img/preloader.svg') no-repeat center center;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }


/* 3. TYPOGRAPHY */

  p {
    line-height: 1.5;
  }

  .lj-text-uppercase {
    text-transform: uppercase;
  }

  .lj-text-center {
    text-align: center;
  }

  .lj-text-left {
    text-align: left;
  }

  .lj-text-right {
    text-align: right;
  }

  .lj-text-justify {
    text-align: justify;
  }

  .lj-text-underline {
    text-decoration: underline;
  }



/* 4. BREAKPOINT FOR HIGH-RES DEVICES */

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    .lj-logo-1x {
      display: none !important;
    }

    .lj-logo-2x {
      display: block !important;
    }

  }


/* 19. FOOTER */

  .footer {
    background-color: #FFFFFF;
    padding: 100px 0;
  }

  .lj-footer-title span {
    color: #454545;
    font-weight: 600;
    text-transform: uppercase;
  }

  .lj-footer-title h3 {
    font-size: 3em;
    font-weight: 300;
    color: #454545;
    margin: 0;
  }

  .lj-footer-title h3 strong {
    color: #454545;
    font-weight: 600;
  }


  .lj-contact-message {
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 0.9em;
  }

  .lj-contact-message i {
    margin-right: 5px;
    color: #454545;
  }

  .lj-contact-message .fa-warning {
    color: #e25050;
  }

  .lj-contact-message .fa-check {
    color: #43cb83;
  }

  .lj-footer-contact input[type=text],
  .lj-footer-contact input[type=submit],
  .lj-footer-contact textarea {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #454545;
    background-color: transparent;
    color: #454545;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  .lj-footer-contact input[type=text],
  .lj-footer-contact input[type=submit] {
    height: 60px;
    line-height: 56px;
    padding: 0 25px;
  }

  .lj-footer-contact input[type=text],
  .lj-footer-contact textarea {
    width: 100%;
    margin-bottom: 25px;
  }

  .lj-footer-contact input[type=submit] {
    color: #6173F4;
    background-color: transparent;
    border: 2px solid #6173F4;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0 25px;
  }

  .lj-footer-contact input[type=submit]:hover {
    color: #fff;
    background-color: #6173F4;
    border: 2px solid #6173F4;
  }

  .lj-footer-contact textarea {
    height: 230px;
    padding: 15px 25px;
    resize: none;
    vertical-align: top;
    overflow: hidden;
  }

  .lj-footer-contact input[type=text]:focus,
  .lj-footer-contact input[type=submit]:focus,
  .lj-footer-contact textarea:focus {
    outline: 0;
    border: 2px solid #6173F4;
  }

  .lj-footer-contact-right {
    text-align: right;
  }



/* 20. BREAKPOINTS */

    /* 19. FOOTER */

    .lj-contact-message {
      margin-top: 10px;
    }

  }

  @media (max-width: 479px) {

